 <div class="container has-text-centered">

    <div class="block"></div>
        <h4>{{post-id.title}}</h4>
        <p>
            {{post-id.body}}
        </p>
        <p>- {{postData.userName}}</p>
    </div>
    {{#if own}}
    {{postData.id}}
    <a href="/update/post/{{post-id.id}}"> <button class="button is-info">Update Post</button></a>
    <button class="button is-info">Delete Post</button>
    {{/if}}
</div>
{{#each post-id.commentArr}}
{{> comments}}
{{/each}}
<div class="row"><button id="addComment" class="button is-info"> Add your own Comment</button> </div>
<div class="row">
    <form id="newIdForm" hidden>
        <div class="form-group">
            <label for="comment-post">Comment</label>
            <input type="text" id="comment-post">
            <textarea id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="button is-info">Submit</button>
    </form>
</div>
</div>
</div>

<script src="/js/comment.js"></script>
{{#if own}}
<script src='/js/deletePost.js'></script>
{{/if}}

